<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c9cfbd3-70d5-4d24-b4b7-8290c21e8029" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2026-02-17T11:08:46</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <media>
      <Value><![CDATA[]]></Value>
    </media>
  </Properties>
</Content>