<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="66e76664-11af-45fb-ad83-e20c60c110af" Alias="aeldrereformen.articles.lastUpdated" Level="3">
  <Info>
    <Parent>aeldrereformen.articles</Parent>
  </Info>
  <Translations>
    <Translation Language="da">Sidst opdateret d. {date, date, long}DA</Translation>
    <Translation Language="en">Last updated {date, date, long}EN</Translation>
  </Translations>
</Dictionary>