<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eac2f9ba-a462-4d59-9d55-a3f224080c61" Alias="sst.search.facets.eventStates.done" Level="5">
  <Info>
    <Parent>sst.search.facets.eventStates</Parent>
  </Info>
  <Translations>
    <Translation Language="da">Tidligere da</Translation>
    <Translation Language="en">Done en</Translation>
  </Translations>
</Dictionary>