<?xml version="1.0" encoding="utf-8"?>
<Media Key="77f25c68-d546-4c78-a2b3-c61113b120e6" Alias="this-file-has-loooooooong-name-and-name-will-be-truncated-in-picke-media-ui" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/thisFileHasLoooooooongNameAndNameWillBeTruncatedInPickeMediaUi</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-17T10:56:36</CreateDate>
    <NodeName Default="this-file-has-loooooooong-name-and-name-will-be-truncated-in-picke-media-ui" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/24lljqjp/this-file-has-loooooooong-name-and-name-will-be-truncated-in-picke-media-ui.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>